.modal-header
  h3.modal-title Create a New Game
.modal-body
  form#createGameForm.form-horizontal
    .row
      .col-xs-6
        .form-group
          label.col-xs-4 Name
          .col-xs-8
            input.form-control(
              ng-model="create.options.name"
              placeholder="Name"
            )
        .form-group
          label.col-xs-4 
            | Score Limit &nbsp;
            i.fa.fa-question-circle.subtle(
              uib-tooltip="Points needed to win the game"
              tooltip-placement="bottom"
            )
          .col-xs-8
            select.form-control(
              ng-options="item.name for item in create.scores"
              ng-model="create.options.scoreLimit"
            )
        .form-group
          label.col-xs-4 
            | Round Timer &nbsp;
            i.fa.fa-question-circle.subtle(
              uib-tooltip="Time given to players to submit their answer"
              tooltip-placement="bottom"
            )
          .col-xs-8
            select.form-control(
              ng-options="item.name for item in create.times"
              ng-model="create.options.roundTime"
            )
.modal-footer
  button.btn.btn-primary(ng-click="create.ok()") OK
  button.btn.btn-warning(ng-click="create.cancel()") Cancel
